.clients {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: none;
  }
}

.clients__icon {
  fill: var(--icons-color);
  transition: fill 250ms var(--cubic);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
//Mobile 480+
@media screen and (max-width: 767px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
  }
}
//Tablet 768+
@media screen and (min-width: 768px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
  }
}
//Desktop 1200+
@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    flex-wrap: nowrap;
  }
  .clients__item {
    justify-content: space-between;
  }
}
