.secton--team {
  background-color: var(--primary-white-color);
}

.team {
  @media screen and( min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and( min-width: 1200px) {
    margin: 0 auto;
  }
}

.team__item {
  margin: 0 auto 30px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  @media screen and( min-width: 768px) and( max-width: 1199px) {
    width: 354px;
    margin-left: 30px;

    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and( min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
}
.team__card {
  padding: 30px;
}

.team__member {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}

.team__description {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}
