.address-box {
  font-style: normal;
  margin-top: 20px;
}

.address-box__map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.address-box__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-box__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-box {
    padding-right: 0;
  }
  .address-box__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Tablet 768
@media screen and (min-width: 768px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-box {
    padding-right: 0;
  }
  .address-box__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

//Desktop >1200
@media screen and (min-width: 1200px) {
  .footer-contact {
    align-items: flex-start;
    margin-left: 0;
  }
  //   .address-box {
  //     padding-right: 12px;
  //   }
  .address-box__list {
    align-items: flex-start;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
