.mobile-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  opacity: 0;
  transform: scale(0);

  transition: opacity 250ms var(--cubic), transform 250ms var(--cubic);
}

.mobile-menu.is-open {
  transform: scale(1);
  opacity: 1;
  overflow-y: scroll;
  z-index: 200;
}

.mobile-menu__item {
  position: relative;
  font-style: normal;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
}

.mobile-menu__link-current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover .mobile-menu__button-icon,
  &:focus .mobile-menu__button-icon {
    fill: var(--accent-color);
  }

  .mobile-menu__button-icon {
    width: 40px;
    height: 40px;
    transition: fill 250ms var(--cubic);
    // outline: none;
  }
}

.mobile-contacts__list {
  margin-top: 302px;
}

.mobile-contacts__item:first-child a {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child a {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);
}
.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
}

.mobile-social__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
}

.mobile-social__link {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
    border-right: none;
  }
}

.mobile-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
