.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon__item:not(:last-child) {
  margin-right: 10px;
}
.social-icon__link {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: var(--icons-color);
  transition: fill 250ms var(--cubic);

  .social-icon__link:hover &,
  .social-icon__link:focus & {
    fill: var(--primary-white-color);
  }
}
