.section {
  padding-top: 60px;
  padding-bottom: 60px;

  //Desktop >1200
  @media screen and( min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(---main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-decoration: none;
}

// .section__features {
//   padding-bottom: 0;
// }

// .section__background--team {
//   background: #f5f4fa;
// }
// .section__background {
//   background: var(--primary-white-color);
// }
