:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-color: #757575;
  --icons-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}